@import "utils/_reset";
@import "utils/_normalize";
@import "utils/vars";
@import "utils/mixins";

html {
  font-family: $mainFont;
  font-size: $mainFontSize;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 320px;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

.hidden {
  display: none;
}

.app {
  height: 100vh;
  padding: 0.5%;
  background-color: $mainFontColor;
  color: $default-color;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-div {
  height: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.firstDiv {
    background-image: url('../images/bg/01.jpg');
    flex-direction: column;
  }
  &.secondDiv {
    background-image: url('../images/bg/02.jpg');
  }
  &.thirdDiv {
    background-image: url('../images/bg/03.jpg');
    justify-content: space-around;
  }
}

.content {
  font-family: 'Montserrat';
}

.test-image, .random-image {
  transition: $short-transition;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.test-image {
  width: 500px;
}

.random-image {
  width: 160px;
}
